html.has-scrollbar {
	overflow-x: hidden;
}

.slideshow {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 550px;
  position: relative;
  display: block;
}

.slideshow .slide {
  margin: 0;
  position: absolute;
  left: 50.18%;
  top: 7%;
  transform: translateX(-50%);
  max-width: 720px;
  width: 100%;
}

.slideshow .slide img {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

#demo {
  position: relative;
}

#demo:after {
  content: '';
  display: block;
  width: 100vw;
  height: 150px;
  background-color: #7cb518;
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.icon-slide-1,
.icon-slide-2 {
  font-size: 150px;
  position: absolute;
  top: 20%;
}

.icon-slide-demo_1-text,
.icon-slide-demo_2-text,
.icon-slide-demo_3-text {
  font-size: 20px;
  max-width: 300px;
  width: 100%;
  position: relative;
  top: 72px;
  left: 40px;
  color: #fff;
  font-weight: bold;
}

.icon-slide-demo_1-cursor,
.icon-slide-demo_2-cursor {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  top: 15%;
  left: 60%;
  cursor: pointer;
}

.nav_point_1:before {
  opacity: 0.4;
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: absolute;
  bottom: -10px;
  left: 310px;
}

.nav_point_1:after {
  opacity: 0.4;
  content: '1';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #7cb518;
  position: absolute;
  bottom: -30px;
  left: 270px;
  line-height: 1.7;
  font-weight: bold;
  font-size: 24px;
}

.nav_point_2:before {
  opacity: 0.4;
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: absolute;
  bottom: -10px;
  left: 380px;
}

.nav_point_2:after {
  opacity: 0.4;
  content: '2';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #7cb518;
  position: absolute;
  bottom: -30px;
  left: 340px;
  line-height: 1.7;
  font-weight: bold;
  font-size: 24px;
  display: block;
}

.nav_point_3:after {
  opacity: 0.4;
  content: '3';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #7cb518;
  position: absolute;
  bottom: -30px;
  left: 410px;
  line-height: 1.7;
  font-weight: bold;
  font-size: 24px;
}

.nav_point_1.fill:after {
  opacity: 1;
}

.nav_point_2.fill:before,
.nav_point_2.fill:after {
  opacity: 1;
}

#try-again-demo {
  color: #fff;
  position: relative;
  top: 25px;
  right: -320px;
  font-size: 20px;
  text-decoration: underline;
  opacity: 0;
  /*display: none;*/
}





@media screen and (min-width: 767px) and (max-width: 768px) {

  .slideshow {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    height: 378px;
  }

  .slideshow .slide img {
    max-width: 2000px;
    width: 496px;
    margin: 35px 0 0 1px;
  }

}

@media screen and (max-width: 767px) {

  .slideshow .slide {
    top: 31%;
    max-width: 240px;
    width: 100%;
  }

}
